name: Generate Contribution Graph (Pac-Man)

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate contribution graph
        uses: Platane/snk@v3
        with:
          github_user_name: Mr-Priyanshu-Gupta
          outputs: |
            dist/pacman.svg
            dist/pacman-dark.svg?palette=github-dark&color_snake=yellow

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
